{% extends 'base.html' %}

{% block main %}

<div id="main">
  <div id="uploadContainer">
    <div id="uploadHeader">
      <h1 class="page-header bold">Upload Photo</h1>
    </div>
  
    <div id="uploadForm">
      <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

        {{ form.csrf_token }}

        <div class="form-group">
          {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        
        <div class="form-group">
          {{ form.photo.label }}
          {{ form.photo(class="form-control") }}
        </div>
      
        <button type="submit" name="submit" id="uploadButton">Upload</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}